.viewersidebar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    color: #fff;
    background-color: #171722;
    border-radius: 1rem;
    padding: .5rem;
}
.pagination-menu{
    align-self: center;
    width: 200px;
}


.pdfpreview-container div div div div:nth-of-type(1){
    background-color: transparent !important;
    cursor: default;
}
.pdfpreview-container div div div div div div:hover{
    cursor: text;
}
.pdfpreview-container div{
    background-color: #2e2e38;
}


.pdfpreview-container div div div div[title="header"]{
    cursor: default !important;
    pointer-events: none !important;
}

.pdfpreview-container div div div div[title="main"]{
    cursor: text;
}

.pdfpreview-container div div div div[title="footer"]{
    cursor: default !important;
    pointer-events: none !important;
}