.viewersidebar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    color: #fff;
    background-color: #171722;
    border-radius: 1rem;
    padding: .5rem;
}
.diplomamaking-container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 2.5rem;
    background-color: var(--darkbg);
  }
  @media (max-width: 1920px){
    .diplomamaking-container{
        padding-top: .5rem;
    }
}
  
    .previewdiploma-container {
        flex: 3;
    }
  
  .diplomadataform-container {
    flex: 2;
  }
  
  .far-right-space {
    flex: .25;
  }

.pagination-menu{
    align-self: center;
    width: 200px;
}
.spinner-diplomamaking{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.loading-title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #ababba;
    opacity: .5;
    font-size: .85rem;
    font-weight: 600;
}
.loading-error__icon{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 65px;
    height: 65px;
}
    .loading-error__icon svg path{
        fill: rgb(220, 22, 22);
    }


.pdfpreview-container div div div div:nth-of-type(1){
    background-color: transparent !important;
    cursor: default;
}
.pdfpreview-container div div div div div div:hover{
    cursor: text;
}
.pdfpreview-container div{
    background-color: #2e2e38;
}

#\@pdfme\/ui-paper0::before{
    position: absolute;
    content: '';
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    pointer-events: all !important;
    background-color: rgba(0, 42, 255, 0);
}

.pdfpreview-container div div div div[title="header"]{
    cursor: default !important;
    pointer-events: none !important;
}
.pdfpreview-container div div div div[title="header"]::before{
    position: absolute;
    content: '';
    width: 100% !important;
    height: 100% !important;
    z-index: 500;
    pointer-events: all !important;
    background-color: rgba(255, 0, 0, 0);
}

.pdfpreview-container div div div div[title="main"]{
    cursor: text;
}

.pdfpreview-container div div div div[title="footer"]{
    position: relative;
    cursor: default !important;
}

.pdfpreview-container div div div div[title="footer"]::before{
    position: absolute;
    content: '';
    width: 100% !important;
    height: 100% !important;
    z-index: 500;
    pointer-events: all !important;
    background-color: rgba(0, 0, 255, 0);
}


.pdfpreview-container div div div div[title="link"]{
    position: relative;
    cursor: default !important;
}

.pdfpreview-container div div div div[title="link"]::before{
    position: absolute;
    content: '';
    width: 100% !important;
    height: 100% !important;
    z-index: 500;
    pointer-events: all !important;
    background-color: rgba(0, 0, 255, 0);
}

/* Hover Zone Styles */
 
  /* Button Styles */
  .toggle-button {
    position: relative;
    top: 30%;
    width: 60px;
    padding-right: 10px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 0 100vw 100vw 0;
    cursor: pointer;
  }

  .toggle-button:hover {
    background-color: rgba(0, 0, 0, 0.2); 
    box-shadow: 6px 0 12px rgba(0, 0, 0, 0.1); 
  }

  .popup404-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the Popup404 horizontally and vertically */
    width: 100%; /* Optional: adjust as needed */
    height: 100%; /* Optional: adjust as needed */
    pointer-events: none; /* Optional: allow clicks through the wrapper */
  }
  .chosen__bootcamp{
    color: #fffff1;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: default;
  }