:root{
	--edit-color: #2edf31;
	--edit-bgcolor: #06240d; 
	--delete-color: #ff5c5c;
	--delete-bgcolor: #301313; 
	--editing-color: #5c88ff;
	--editing-bgcolor: #131930; 
}


.tags-input {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 100%;
	max-width: 400px;
	padding: 0.6em .8em;
	margin: 0.5rem 0.2rem;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #ababba5b;
	border-radius: 0.5rem;
	width: 552px;
	min-width: 552px;
	transition: all 0.2s ease;
  }

  @media (max-width: 1920px) {
	.tags-input {
		padding: 0.4em .6em;
		margin: 0.4rem 0.2rem;
		background-color: transparent;
	  }
  }
  
  @media (min-width: 1200px) {
	.tags-input {
		width: fit-content;
	}
  }
  
  .tags-input:focus-within {
	color: #000;
	outline: none;
  }
  
  .taginputbox {
	flex-grow: 1;
	flex-basis: 100%;
	padding: 0.4em 1em;
	margin: 0.5rem 0.2rem;
	font-size: .9rem;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: .6rem;
	color: white;
	transition: all 0.2s ease;
	background-color: #20202a;
  }
  @media (max-width: 1920px) {
	.taginputbox{
		padding: 0.3em .7em;
		font-size: .85rem;
	}
  }
  
  .taginputbox:focus {
	background-color: #2c2c36;
	color: #fff;
	outline: none;
  }
  
  #tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
  }
  
  .tag {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.6em 1.2em;
	margin: 0.5rem 0.2rem;
	font-size: .5rem;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	background-color: #2e2e38;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
  }
  
  .tag-title {
	margin-right: 0.25rem;
	font-size: .7rem;
	line-height: 1rem;
  }
  .tag-title__input{
	background-color: #2e2e38;
	background-color: transparent;
	z-index: 1000;
	height: 100%;
	font-size: .5rem;
	border: none;
	transition: all .2s ease;
	transition: all .2s ease;
  }
	.tag-title__input:hover {
		color: var(--edit-color);
		background-color: var(--edit-bgcolor);
		transition: all .2s ease;
	}
	.tag-title__input:focus {
		outline: none;
		border: none;
	}
  @media (max-width: 1920px) {
	.tag{
		font-size: .4rem;
	}
	.tag-title {
		font-size: .5rem;
		line-height: 1rem;
	  }
  }
  .left-click-boundingbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
  }
  .right-click-boundingbox{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
  }
  .tag{
	transition: all .2s ease;
  }
	.tag.hover-left {
		background-color: var(--edit-color);
		background-color: var(--edit-bgcolor);
		color: #54df77;
		transition: all .2s ease;
	}
	
	.tag.hover-right {
		background-color: #ff0707;
		background-color: var(--delete-bgcolor);
		color: var(--delete-color);
		transition: all .2s ease;
	}
	.tag.hover-edit{
		background-color: var(--editing-bgcolor);
		color: var(--editing-color);
		transition: all .2s ease;
	}
  
  
  .tag-apply-icon{
	display: block;
	width: 1rem;
	height: 1rem;
	fill: #c1c1cd;
	cursor: pointer;
	transition: all .2s ease;
  }
	.tag-apply-icon path{
		transition: all .2s ease;
	}
  .tag-close-icon {
	display: block;
	width: 1rem;
	height: 1rem;
	fill: #c1c1cd;
	cursor: pointer;
	transition: all .2s ease;
  }
  .tag-close-icon{
	transition: all .2s ease;
  }
  
  .tag.hover-right .tag-close-icon {
	/* fill: var(--delete-color); */
	fill: #fe1a1a;
	transform: rotate(5deg) translateX(1px);
	transition: all .2s ease;
  }
  .tag.hover-right .tag-open-icon path{
	stroke: var(--delete-color);
	transition: all .2s ease;
  }
  .tag.hover-left .tag-close-icon{
	fill: #54df77;
	transition: all .2s ease;
  }
  .tag.hover-left .tag-open-icon path{
	stroke: #54df77;;
	transition: all .2s ease;
  }
  .tag.hover-edit .tag-close-icon{
	fill: var(--editing-color);
	transition: all .2s ease;
  }
  .tag.hover-edit .tag-open-icon path{
	stroke: var(--editing-color);;
	transition: all .2s ease;
  }
  .tag.hover-edit .tag-apply-icon path{
	fill: var(--editing-color);;
	transition: all .2s ease;
  }

  .tag-title__input{
	transition: all .2s ease;
  }
  .tag.hover-left .tag-title__input{
	background-color: var(--edit-bgcolor);
	transition: all .2s ease;
  }
  .tag.hover-right .tag-title__input{
	background-color: var(--delete-bgcolor);
	transition: all .2s ease;
  }
  .tag.hover-edit .tag-title__input{
	background-color: var(--editing-bgcolor);
	color: var(--editing-color);
	transition: all .2s ease;
  }



	.tag.edit-mode{
		background-color: var(--editing-bgcolor);
		color: var(--editing-color);
		transition: all .2s ease;
	}
	.tag-title__input{
		transition: all .2s ease;
	}
	.tag.edit-mode .tag-close-icon {
		fill: var(--editing-color);
		transform: rotate(5deg) translateX(1px);
		transition: all .2s ease;
	}
	.tag-open-icon path, 
	.tag-open-icon{
		transition: all .2s ease;
	}
	.tag.edit-mode .tag-open-icon path{
		stroke: var(--editing-color);
		transition: all .2s ease;
	}
	.tag.edit-mode .tag-apply-icon path{
		fill: var(--editing-color);
		transition: all .2s ease;
	}
	

  .tag-open-icon {
	display: block;
	width: 1rem;
	height: 1rem;
	stroke: #c1c1cd;
	cursor: pointer;
	margin-right: .2rem;
	transition: all .2s ease;
  }
  
  @media (min-width: 768px) {
	.tags-input {
	  max-width: 600px;
	}
  }