.tags-input {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 100%;
	max-width: 400px;
	padding: 0.6em .8em;
	margin: 0.5rem 0.2rem;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #ababba5b;
	border-radius: 0.5rem;
	width: 552px;
	transition: all 0.2s ease;
  }
  
  @media (min-width: 1200px) {
	.tags-input {
		width: fit-content;
	}
  }
  
  .tags-input:focus-within {
	/* border-color: #fa633e;
	background-color: #f6522b; */
	color: #000;
	outline: none;
  }
  
  .taginputbox {
	flex-grow: 1;
	flex-basis: 100%;
	padding: 0.4em 1em;
	margin: 0.5rem 0.2rem;
	font-size: .9rem;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: .6rem;
	/* background-color: #171721; */
	color: white;
	transition: all 0.2s ease;
	background-color: #20202a;
  }
  
  .taginputbox:focus {
	/* border-color: #fa633e;
	background-color: #f6522b; */
	background-color: #2c2c36;
	color: #fff;
	outline: none;
  }
  
  #tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
  }
  
  .tag {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.6em 1.2em;
	margin: 0.5rem 0.2rem;
	font-size: .5rem;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	/* background-color: #1a1a1a; */
	background-color: #2e2e38;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
  }
  
  .tag:hover {
	/* border-color: #fa633e;
	background-color: #f6522b; */
	/* background-color: #f62b2b; */
	/* color: #f62b2b; */
  }
  
  .tag-title {
	margin-right: 0.25rem;
	font-size: .7rem;
	line-height: 1rem;
  }
  .left-click-boundingbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
  }
  .right-click-boundingbox{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
  }
  .tag{
	transition: all .2s ease;
  }
	.tag.hover-left {
		background-color: #2edf31;
		background-color: #06240d;
		color: #54df77;
		transition: all .2s ease;
	}
	
	.tag.hover-right {
		background-color: #ff0707;
		background-color: #301313;
		color: #ff5c5c;
		transition: all .2s ease;
	}
  
  
  
  .tag-close-icon {
	display: block;
	width: 1rem;
	height: 1rem;
	fill: #c1c1cd;
	cursor: pointer;
	transition: all .2s ease;
  }
  .tag-close-icon{
	transition: all .2s ease;
  }
  
  .tag.hover-right .tag-close-icon {
	fill: #ff5c5c;
	transform: rotate(5deg) translateX(1px);
	transition: all .2s ease;
  }
  .tag.hover-right .tag-open-icon path{
	stroke: #ff5c5c;;
	transition: all .2s ease;
  }
  .tag.hover-left .tag-close-icon{
	/* opacity: .6; */
	fill: #54df77;
	transition: all .2s ease;
  }
  .tag.hover-left .tag-open-icon path{
	stroke: #54df77;;
	transition: all .2s ease;
  }

  .tag-open-icon {
	display: block;
	width: 1rem;
	height: 1rem;
	stroke: #c1c1cd;
	cursor: pointer;
	margin-right: .2rem;
	transition: all .2s ease;
  }
  
  @media (min-width: 768px) {
	.tags-input {
	  max-width: 600px;
	}
  }
  

  .not-implemented {
	position: absolute;
	left: 150px;
	top: -30px;
	color: #ababba;
	visibility: hidden;
	font-size: .8rem;
	opacity: 0;
	transition: visibility 2s, opacity 2s ease;
  }
  
  .not-implemented.visible {
	visibility: visible;
	opacity: 1;
  }