.spinner-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.verificationinfo-container{
    position: relative;
    margin: 75px auto 0 auto;
    width: 1000px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #171722;
    border-radius: 1rem;
}
    .verificationinfo__logo-wrapper{
        width: 150px;
        margin: 1rem 0;
    }
        .verificationinfo__logo-wrapper img{
            filter: invert();
        }
    .verificationinfo__title-wrapper h1{
        margin-top: 1rem;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
    }
    .verificationinfo__title-wrapper p{
        margin-top: 1rem;
        color: #ababba;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }
    .verificationinfo__title-wrapper h2{
        margin-top: 1rem;
        color: #fff;
        font-weight: 400;
        font-size: 1.3rem;
        text-align: center;
    }

.verificationinfo-container{
    position: relative;
    margin: 75px auto 0 auto;
    width: 1000px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #171722;
    border-radius: 1rem;
}
    .verificationinfo__logo-wrapper{
        width: 150px;
        margin: 1rem 0;
    }
        .verificationinfo__logo-wrapper img{
            filter: invert();
        }
.verificationinfo__title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .verificationinfo__title-wrapper p{
        margin-top: 1rem;
        color: #ababba;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }

.verificationinfo__title-wrapper input {
    width: 100%;
    min-width: 350px;
    margin-top: .2rem;
    font-size: 1rem;
    color: #cbccd8;
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    border-radius: .7rem;
    padding: .5rem .7rem;
    background-color: #ced1ff24;
    text-align: center;
    cursor: text;
    transition: all .15s ease-in-out;
}
.verificationinfo__title-wrapper input:hover{
    color: #e5e6ec;
    background-color: #ced1ff24;
    transition: all .15s ease-in-out;
}


.verificationinfo__title-wrapper--savebtn{
    gap: .2rem !important;
    padding: .5rem 1.1rem .5rem .7rem !important;
    min-width: 150px;
}

.verificationinfo__title-wrapper--savebtn:hover{
    background-color: rgb(43, 246, 46) !important;
}