.full-screen-mode {
    width: 80vw;
}

.diploma-making-form__select-track,
.diploma-making-form__select-bootcamp,
.diploma-making-form__select-template {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;
}
    .diploma-making-form__select-track .overview-page__select-container,
    .diploma-making-form__select-bootcamp .overview-page__select-container,
    .diploma-making-form__select-template .overview-page__select-container {
        margin-top: .7rem;
    }
        .diploma-making-form__select-track .diploma-making-form__label,
        .diploma-making-form__select-bootcamp .diploma-making-form__label,
        .diploma-making-form__select-template .diploma-making-form__label {
            min-width: 238px;
            transition: all 350ms ease;
        }
            .diploma-making-form__select-track:hover .diploma-making-form__label,
            .diploma-making-form__select-bootcamp:hover .diploma-making-form__label,
            .diploma-making-form__select-template:hover .diploma-making-form__label {
                color: #fff;
                transition: all 350ms ease;
            }
    .diploma-making-form__label {
        transition: all 350ms ease;
    }

.diploma-making-form__label {
    color: #fffff1;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: default;
}
    .diploma-making-form__student-data__label-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .diploma-making-form__student-data__items-wrapper{
        display: flex;
        gap: .2rem;
        justify-content: space-between;
    }

.diploma-making-form__select-container,
.diploma-making-form__checkboxes, 
.diploma-making-form__radio-group{
    padding: 1.5% 3%;
    min-height: fit-content;
    border-bottom:1px solid #ababba4d
}

    .diploma-making-form__upload{

    }
        .diploma-making-form__upload label{
            min-width: 280px;
        }
    .diploma-making-form__checkboxes{
        border-bottom:1px solid #ababba17;
        padding-bottom: 0;
    }
        .diploma-making-form__checkbox-group{
            margin-top: .5rem;
        }
    .diploma-making-form__submit-group{
        padding: 1% 3%;
        min-height: fit-content;
    }



.diploma-making-form__upload{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
    .diploma-making-form__upload--fileupload-wrapper{
        margin-top: .5rem;
        min-width: 200px;
    }

.diploma-making-form{
    background-color: #171721;
    border-radius: 1rem;
}
    .diploma-making-form__label{
        color: #ebebeb;
    }
    .submit-group__btn-container{
        position: relative;
        width: fit-content;
    }
    .diploma-making-form__submit-button{
        position: relative;
        font-size: .9rem !important;
        border: 1px solid rgba(255, 255, 255, 0.035);
        margin-left: .5rem !important;
        z-index: 1;
    }
    .diploma-making-form__submit-button.active{
        background-color: #ff4a19 !important;
        color: #000 !important;
        z-index: 1;
    }
        .diploma-making-form__print-button{
            position: absolute;
            top: -15%;
            right: -70%;
            width: 35px;
            height: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            transform: translateY(-50%) translateX(-50%);

            background-color: #23212a;
            border-radius: 100%;

            visibility: hidden;
            opacity: 0;
            transform: translateY(-25%) translateX(-150%);
            filter: blur(2px);

            z-index: 0;
        }
        .diploma-making-form__print-button.active{
            visibility: visible;
            opacity: 1;
            transform: translateY(-50%) translateX(-50%);
            filter: blur(0px);
        }
            .diploma-making-form__print-button::after{
                position: absolute;
                content: '';
                left: -50%;
                top: 30%;

                width: 100%;
                height: 100%;
            }
            .diploma-making-form__print-button svg{
                width: 75% !important;
                margin-left: 20%;
            }
                .diploma-making-form__print-button svg path{
                    fill: #ababba !important;
                    transition: all .2s ease;
                }
                    .diploma-making-form__print-button:hover{
                        background-color: #ff4a19;
                        transition: all .2s ease;
                    }
                        .diploma-making-form__print-button:hover svg path{
                            fill: #000 !important;
                            transition: all .2s ease;
                        }

        .diploma-making-form__download-button{
            position: absolute;
            top: 85%;
            right: -70%;
            width: 35px;
            height: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #23212a;
            border-radius: 100%;

            transform: translateY(-50%) translateX(-50%);

            visibility: hidden;
            opacity: 0;
            transform: translateY(-100%) translateX(-150%);
            filter: blur(2px);

            z-index: 0;
        }
        .diploma-making-form__download-button.active{
            visibility: visible;
            opacity: 1;
            transform: translateY(-50%) translateX(-50%);
            filter: blur(0px);
        }
            .diploma-making-form__download-button::after{
                position: absolute;
                content: '';
                left: -50%;
                bottom: 30%;

                width: 100%;
                height: 100%;
            }
            .diploma-making-form__download-button svg{
                width: 58% !important;
                margin-right: 6%;
            }
                .diploma-making-form__download-button svg path{
                    fill: #ababba !important;
                    transition: all .2s ease;
                }
                .diploma-making-form__download-button:hover{
                    background-color: #ff4a19;
                    transition: all .2s ease;
                }
                    .diploma-making-form__download-button:hover svg path{
                        fill: #000 !important;
                        transition: all .2s ease;
                    }


        .diploma-making-form__print-button,
        .diploma-making-form__download-button {
            transition: visibility 0s, opacity 0.6s ease-in-out, transform 0.6s ease-in-out, filter 0.6s ease-in-out;
        }


@media (max-width: 1920px) {
    .diploma-making-form__select-track,
    .diploma-making-form__select-bootcamp,
    .diploma-making-form__select-template {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 3rem;
    }
    .diploma-making-form__label{
        font-size: .9rem;
        min-width: 180px !important;
    }
    .diploma-making-form .overview-page__select-box{
        font-size: .7rem;
        padding: 0.4em 1em;
    }
    .diploma-making-form .select-wrapper{
        max-width: 200px;
    }

    .diploma-making-form__student-data{
        padding-top: .6rem;
    }
    .diploma-making-form__upload--fileupload-wrapper{
        margin-top: .5rem;
        min-width: 200px;
    }
        .fileupload-wrapper{
            width: 85%;
        }
        .diploma-making-form__upload--fileupload-wrapper .fileupload_title{
            font-size: .8rem;
        }
        .diploma-making-form__upload--fileupload-wrapper p{
            font-size: .7rem;
        }
    .diploma-making-form__checkboxes{
        
    }
    .pdf-generation-options{
        display: flex;
        align-items: end;
    }
        .pdf-generation-options .diploma-making-form__radio-group{
            display: flex;
            padding: 0;
            align-items: flex-end;
            border: none;
            margin-left: .5rem;
        }
}


.diploma-making__block-navbar{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 500000;
    transition: all .2s ease;
}
.diploma-making__block-navbar.active{
    visibility: visible;
    background-color: #17172145;
    transition: all .2s ease;
}