.add-button--simple {
    position: relative;
    color: #10b981;
    margin-top: .5%;
    padding: 0.3rem .7rem;
    border-radius: 0.375rem;
    color: #21d34e;

    background-color: #06240d;
    transition: all 150ms ease;
}

.add-button--simple:hover {
    color: #54df77;
    background-color: #12341a;
    transition: all 150ms ease;
}

.add-button-HomePage { 
    color: #eee5e5;
    background-color: #29283a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #313c5a46;
    width: 12%;
}

.add-button-HomePage:hover {
    color: #eee5e5;
    background-color: #2b2a3d;
    transition: all 150ms ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}