.save-btn.gta{
    color: #fff;
    margin: .5rem .5rem;
    transition: all .15s ease-in-out;
}
    .save-btn.gta svg{
        width: 25px;
        transition: all .15s ease-in-out;
    }
    .save-btn.gta svg path{
        fill: #ababba;
        transition: all .15s ease-in-out;
    }
    .save-btn.gta:hover svg path{
        fill: #fff;
        transition: all .15s ease-in-out;
    }
    .save-btn.gta:hover svg{
        transform: scale(1.02);
        transition: all .15s ease-in-out;
    }

.save-btn.normal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background-color: #20202a;
    color: #fff;
    color: #dbdbe5;
    font-weight: 600;
    font-size: .8rem;
    margin: .5rem 0;
    padding: .6rem 1.2rem;
    border-radius: .5rem;
    transition: all .25s ease-in-out;
}
    .save-btn.normal:hover{
        filter: saturate(125%);
        background-color: #2bf62e;
        color: #000;
        cursor: pointer;

        transition: all .15s ease-in-out;
    }
    .save-btn.casual:hover{
        background-color: #6f2bf6;
    }
    .save-btn.normal svg{
        width: 25px;
        transition: all .15s ease-in-out;
    }
    .save-btn.normal svg path{
        stroke: #ababba;
        transition: all .15s ease-in-out;
    }
    .save-btn svg circle{
        stroke: #ababba;
        transition: all .15s ease-in-out;
    }
    .save-btn.normal:hover svg path{
        stroke: #000000;
        transition: all .15s ease-in-out;
    }
    .save-btn:hover svg circle{
        stroke: #000000;
        transition: all .15s ease-in-out;
    }
    .save-btn.normal svg .fill{
        fill: #ababba;
        transition: all .15s ease-in-out;
    }
    .save-btn.normal:hover svg .fill{
        fill: #000000;
        transition: all .15s ease-in-out;
    }
    .save-btn.normal:hover svg{
        transform: scale(1.02);
        transition: all .15s ease-in-out;
    }
    .save-btn_title{
        cursor: pointer;
    }





    .save-btn.remove{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    
        background-color: #20202a;
        color: #fff;
        color: #dbdbe5;
        font-weight: 600;
        font-size: .8rem;
        margin: .5rem 0;
        padding: .6rem 1.2rem;
        border-radius: .5rem;
        transition: all .25s ease-in-out;
    }
        .save-btn.remove:hover{
            filter: saturate(125%);
            background-color: #f62b2b;
            color: #000;
            cursor: pointer;
    
            transition: all .15s ease-in-out;
        }
        .save-btn.remove svg{
            width: 25px;
            transition: all .15s ease-in-out;
        }
        .save-btn.remove svg path{
            stroke: #ababba;
            transition: all .15s ease-in-out;
        }
        .save-btn.remove:hover svg path{
            stroke: #000000;
            transition: all .15s ease-in-out;
        }
        .save-btn.remove:hover svg{
            transform: scale(1.02);
            transition: all .15s ease-in-out;
        }