.templatecreator-page__leftsidebar {
    padding: 7% 0 0 7%;
    max-height: 90vh;
    grid-column: 1 / 2;
    z-index: 1;
    max-width: 125px;
}

    .templatecreator-page__leftsidebar-menu {
        background-color: #171721;
        width: 100%;
        height: 110%;
        border-radius: 1rem;
    }

        .templatecreator-page__leftsidebar-menu-header {
            padding: 5% 7%;
            display: flex;
            align-items: center;
            gap: 1.3rem;
            /* border-bottom: 1px solid #ababba5b; */
        }

            .templatecreator-page__leftsidebar-menu-header button {
                color: #ababba;
                font-size: 1.5rem;
                font-weight: 600;
                transition: all .1s ease-in-out;
            }

            .templatecreator-page__leftsidebar-menu-header button.active {
                color: #ffffff;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .templatecreator-page__leftsidebar-menu-header button:hover {
                color: #fffff1;
            }

        .templatecreator-page__leftsidebar-menu-section {
            padding: 3% 7%;
            padding-top: 15%;
            min-height: fit-content;
            /* border-bottom: 1px solid #ababba5b; */
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

            .templatecreator-page__leftsidebar-menu-section h3 {
                color: #fffff1;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: default;
            }

            .help-btn {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                gap: 0rem;

                transition: all 350ms ease;
            }   
                .help-btn p{
                    color: #ababba;
                    font-size: .8rem;
                    transition: all 350ms ease;
                }
                .help-btn svg {
                    width: 50px;
                    height: 50px;
                }

                .help-btn svg path {
                    fill: #ababba;
                    animation: shiftColors 1.5s forwards 1s;
                    transition: fill 350ms ease;
                }
                    .help-btn:hover svg path{
                        animation: none;
                        fill: #fff !important;
                        transition: fill 350ms ease;
                    }
                    .help-btn:hover p{
                        color: #fff;
                        transition: all 350ms ease;
                    }
                
                @keyframes shiftColors {
                    0% {
                        fill: #ababba;
                    }
                    50% {
                        fill: #0091ff;
                    }
                    100% {
                        fill: #ababba;
                    }
                }
        .fonts-btn {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: .5rem;

            transition: all 350ms ease;
        }
            .fonts-btn p{
                color: #ababba;
                font-size: .8rem;
                transition: all 350ms ease;
            }
            .fonts-btn svg {
                width: 29px;
                height: 29px;
            }

            .fonts-btn svg path {
                fill: #ababba;
                animation: shiftColors 1.5s forwards 1s;
                transition: fill 350ms ease;
            }
                .fonts-btn:hover svg path{
                    animation: none;
                    fill: #fff !important;
                    transition: fill 350ms ease;
                }
                .fonts-btn:hover p{
                    color: #fff;
                    transition: all 350ms ease;
                }