.historypage {
    padding: 1% 2%;
    background-color: #2e2e38;
    min-height: 100vh;
}
.historypage__table-container{
    background-color: #171721;
    border-radius: 1rem;
    min-height: 90vh;
    max-width: 2160px;
    margin: 0 auto;
    padding: .2rem 1rem;
}
        .historypage__title{
            font-size: 2rem;
            font-weight: 600;
            color: #ffffffdd;
            margin: 1rem .5rem;
        }
    .historypage__filtersection{
        margin: 1.5rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
    }
        .historypage__filtersection--input-wrapper{
            max-width: 275px;
        }
            .historypage__filtersection--input-wrapper svg path{
                stroke: #ababba;
                transition: all 350ms ease;
            }
            .historypage__filtersection--input-wrapper svg{
                position: absolute;
                top: 52%;
                left: 8% !important;
                transform: translateY(-50%);
                width: 15px !important;
            }
        .historypage__filtersection__search-input{
            height: 40px;
        }
        .historypage__filtersection--input-wrapper:hover svg path{
            stroke: #fff;

            transition: all 350ms ease;
        }
        .historypage__filtersection__search-input::placeholder{
            transition: all 350ms ease;
        }
        .historypage__filtersection--input-wrapper:hover .historypage__filtersection__search-input::placeholder{
            color: #fff;
            transition: all 350ms ease;
        }

    .historypage__sortbysection{
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
        width: 40%;
    }
        .historypage__sortbysection svg{
            width: 30px;
        }
        .historypage__sortbysection svg path{
            fill: #ababba;
            transition: all 350ms ease;
        }
        .select-wrapper{
            max-width: 300px;
        }
        .historypage__sort-by-section__select-box{
            max-width: 350px !important;
            font-size: .9rem !important;
            color: #ababba !important;

            transition: all 350ms ease;
        }
        .historypage__sortbysection:hover .historypage__sort-by-section__select-box{
            cursor: pointer;
            color: #fff !important;
            transition: all 350ms ease;
        }
        .historypage__sortbysection:hover svg{
            cursor: pointer;
        }
        .historypage__sortbysection:hover svg path{
            fill: #fff;
            transition: all 350ms ease;
        }
        .historypage__sortbysection:hover{
            cursor: pointer;
        }

.historypage__table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #171721;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    .historypage__table-head {
        background-color: #171721;
        color: #ffffff;
    }
        .historypage__table-header{
            position: relative;
        }
        .historypage__table-header .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 30px;
            height: 20px;
            border-radius: .3rem;
            background-color: #091a307c;

            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);

            opacity: 1;
            transition: all 350ms ease;
        }
        .historypage__table-header .icon-container.hidden {
            opacity: 0;
            transition: all 350ms ease;
        }
            .historypage__table-header svg{
                width: 20px;
            }
            .historypage__table-header.descending svg{
                transform: rotate(180deg);
            }
                .historypage__table-header svg path{
                    stroke: #199bff;
                }
                
        .historypage__table-header:hover{
            color: #ffffff;
            cursor: pointer;
        }
        .historypage__table-header:nth-of-type(1){
            width: 250px;
        }
        .historypage__table-header, .historypage__table-cell {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #dddddd3a;
        }

    .historypage__table-body {
        background-color: #171721;
        color: #ababba;
    }
        .historypage__table-row:hover {
            cursor: pointer;
            background-color: #262634;

            transition: all 150ms ease;
        }
        .historypage__table-row:hover .historypage__table-row.expanded{
            cursor: pointer;
            background-color: #20202a;

            transition: all 150ms ease;
        }
    .historypage__table-row--optionsmenu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        flex-direction: column;
    }
        .historypage__table-row--optionsmenu .add-btn{
            margin-top: 0;
            transform-origin: left;
            transform: scale(.85);
            min-width: 200px;
        }
        .historypage__table-row--optionsmenu .save-btn{
            margin-top: 0;
            transform-origin: left;
            transform: scale(.85);
            min-width: 200px;
        }
    .historypage__subtable {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0;
        background-color: #171721;
    }
        .historypage__subtable-head {
            background-color: #171721;
            color: #c7c7d2;
            font-size: .8rem;
        }
        .historypage__subtable-row{
            position: relative;
        }
        .historypage__subtable-row:hover{
            cursor: pointer;
            background-color: #20202a;
        }
        .historypage__subtable-header, .historypage__subtable-cell {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #dddddd18;

            background-color: #091a30;
            color: #94d1ff;
        }
        .historypage__subtable-cell{
            /* color: #c7c7d2f5; */
            color: #199bff;
            font-size: .8rem;
            position: relative;
        }
        .historypage__subtable-row:hover{
            filter: saturate(115%) brightness(115%);
        }
        .historypage__subtable-row svg{
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);

            width: 25px;
        }
        .historypage__subtable-row svg path{
            stroke: #3ce252;
        }

.historypage__no-data{
    width: 100%;
    padding: .5% 1%;
    margin: 1.5rem 0rem;

    border-radius: .5rem;
    font-size: 1.1rem;
    color: #ff1919;
    background-color: #300909;
}

.status.inactive {
    position: relative;
    z-index: 1;
    color: #ff9191;
}
    .status.inactive::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        background-color: #2b0b0b;

        border-radius: .4rem;
        width: 100%;
        height: 70%;
        z-index: -1;
    }

.status.active{
    position: relative;
    color: #19ff38;
    z-index: 1;
}
    .status.active::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        background-color: #0d3009;

        border-radius: .4rem;
        width: 100%;
        height: 70%;
        z-index: -1;
    }

.status.some-active{
    position: relative;
    color: #199bff;
    color: #19ff38;
    z-index: 1;
}
    .status.some-active::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        background-color: #091a30;
        background-color: #0d3009;

        border-radius: .4rem;
        width: 100%;
        height: 70%;
        z-index: -1;
    }




/*PDF PREVIEW WINDOW*/

.diplomapreview-container{
    position: fixed;
    bottom: .5%;
    right: .5%;

    margin: 2rem auto 0 auto;
    width: 500px;
    height: 50vh;
    min-height: 400px;
    max-width: 0px;
    overflow: hidden;
    z-index: 500;
    opacity: .8;
    transition: all 450ms cubic-bezier(0.39,0,0.47,0.99);
}
.diplomapreview-container.visible{
    margin: 2rem auto 0 auto;
    width: 500px;
    height: 50vh;
    min-height: 400px;
    max-width: 500px;
    opacity: 1;
    transition: all 450ms cubic-bezier(0.39,0,0.47,0.99);
}

.diplomapreview-container-content{
    position: relative;
    margin: 2rem auto 0 auto;
    width: 500px;
    height: 50vh;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #171722;
    border-radius: 1rem;

    filter: blur(3px);
    transition: all 450ms cubic-bezier(0.39,0,0.47,0.99);
}
.diplomapreview-container.visible .diplomapreview-container-content{
    filter: blur(0px);
    transition: all 450ms cubic-bezier(0.39,0,0.47,0.99);
}

.diplomapreview-container-content svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    margin: 1%;

    width: 35px;
    transition: all 350ms ease;
}
.diplomapreview-container-content:hover{
    cursor: pointer;
    transition: all 350ms ease;
}
.diplomapreview-container-content:hover svg path{
    fill: #fff;
    transform: scale(1.02);

    transition: all 350ms ease;
}

.diplomapreview-container-content svg path{
    transition: all 350ms ease;
}

/*Disable text on hovering text-preview*/

.pdfpreview-previewcontainer div div div div[title="main"]{
    position: relative;
    cursor: default !important;
}

.pdfpreview-previewcontainer div div div div[title="main"]::before{
    position: absolute;
    content: '';
    width: 100% !important;
    height: 100% !important;
    z-index: 500;
    pointer-events: all !important;
    background-color: rgba(0, 0, 255, 0);
}

.pdfpreview-previewcontainer div div div div:nth-of-type(1){
    background-color: transparent !important;
    cursor: default;
}

.pdfpreview-previewcontainer div{
    background-color: #171722;
}