.homepage__card {
    background-color: #4e4e5e;
    color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-height: 300px;
    position: relative;
}

.homepage__card:hover {
    background-color: #5e5e6e;
    transform: translateY(-5px);
}

.homepage__card-header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.homepage__card-header svg {
    width: 40px;
    height: 40px;
}

.homepage__card-content {
    position: relative;
}

.homepage__card-short-description {
    padding-left: 3px;
    margin: 0;
}

.short-description-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.short-description-list li {
    margin-bottom: 0.7rem;
}

.homepage__card-full-description {
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}

.homepage__card-full-description-text {
    padding-bottom: 20px;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end; 
}
.learn-more-text {
    color: #c0c0c0;
    font-style: italic;
    margin-top: 30px;
    display: block;
    text-align: center;
}