.homepage__card {
    color: #d9c8c8;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.375s ease, box-shadow 0.375s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 330px;
    width: 450px;
    position: relative;
    cursor: default;
}

.homepage__card:hover {
    background-color: #5e5e6e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

.homepage__card-header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    transition: color 0.375s ease;
}

.homepage__card-header svg {
    width: 40px;
    height: 40px;
    transition: transform 0.375s ease;
}

.homepage__card:hover .homepage__card-header svg {
    transform: scale(1.1);
}

.homepage__card-content {
    position: relative;
}

.homepage__card-short-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 3px;
    margin: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.homepage__card-short-description.hidden {
    opacity: 0;
}

.short-description-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    transition: margin 0.375s ease;
}

.short-description-list li {
    margin-bottom: 0.3rem;
    transition: margin-bottom 0.375s ease;
}

.homepage__card-full-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.15s;
}

.homepage__card-full-description.visible {
    opacity: 1;
}

.homepage__card-full-description-text {
    padding-bottom: 20px;
    transition: padding-bottom 0.375s ease;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}

.learn-more-text {
    color: #c0c0c0;
    font-style: italic;
    display: block;
    text-align: center;
    transition: color 0.375s ease;
}

.learn-more-text:hover {
    color: #e2d5d5;
}


.gradient-templateCreator {
    background: linear-gradient(to top right, rgb(0, 48, 0), rgb(6, 6, 6), rgb(6, 6, 6), rgb(0, 48, 0));
    transition: background 0.5s ease-in-out;
  }
  
  .gradient-templateCreator:hover {
    background: linear-gradient(to top right, rgb(34, 68, 34), rgb(6, 6, 6), rgb(6, 6, 6), rgb(34, 68, 34));
  }
  
  .gradient-pdfMaking {
    background: linear-gradient(to top right, rgb(2, 2, 48), rgb(6, 6, 6), rgb(6, 6, 6), rgb(2, 2, 48));
    transition: background 0.5s ease-in-out;
  }
  
  .gradient-pdfMaking:hover {
    background: linear-gradient(to top right, rgb(34, 34, 68), rgb(6, 6, 6), rgb(6, 6, 6), rgb(34, 34, 68));
  }
  
  .gradient-BootcampOptions {
    background: linear-gradient(to top right, rgb(48, 2, 2), rgb(6, 6, 6), rgb(6, 6, 6), rgb(48, 2, 2));
    transition: background 0.5s ease-in-out;
  }
  
  .gradient-BootcampOptions:hover {
    background: linear-gradient(to top right, rgb(68, 34, 34), rgb(6, 6, 6), rgb(6, 6, 6), rgb(68, 34, 34));
  }
  
  .gradient-History {
    background: linear-gradient(to top right, rgb(48, 48, 2), rgb(6, 6, 6), rgb(6, 6, 6), rgb(48, 48, 2));
    transition: background 0.5s ease-in-out;
  }
  
  .gradient-History:hover {
    background: linear-gradient(to top right, rgb(68, 68, 34), rgb(6, 6, 6), rgb(6, 6, 6), rgb(68, 68, 34));
  }

  .gradient-Dashboard {
    background: linear-gradient(to top right, rgb(48, 2, 48), black, black, rgb(48, 2, 48));
    transition: background 0.5s ease-in-out;
  }
  
  .gradient-Dashboard:hover {
    background: linear-gradient(to top right, rgb(68, 34, 68), black, black, rgb(68, 34, 68));
  }
  