.templatecreator-page {
    min-height: 100vh;
    background-color: #2e2e38;
    display: grid;
    grid-template-columns: .15fr .65fr .2fr;
}

    .templatecreator-page__preview-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;
        height: 100%;
        padding: 5% 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        overflow: hidden;
    }

        .templatecreator-page__preview-container h2 {
            color: #9898a7;
            font-size: .9rem;
        }

        .templatecreator-page__preview {
            width: 25%;
            height: 100%;
        }

            .pdfpreview {
                position: absolute;
                top: 15%;
                left: -80%;
                width: 300%;
                height: 100%;
                min-width: 1000px !important;
            }

            .spinner {
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translateX(-50%) translateY(-50%);
            }




/* PDFME Designer janky css overrides */

.pdfpreview div div div div div:nth-of-type(1){
    background-color: transparent !important;
}
.pdfpreview div{
    background-color: #2e2e38;
}
.bg-boundingbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pdfpreview div div div div div div:hover{
    cursor: pointer;
}
.pdfpreview div div div div div div div{
    background-color: #6eff07 !important;
}

.pdfpreview div div div div div div div div:nth-of-type(2){
    visibility: hidden;
}
.pdfpreview div div div div div div div div:nth-of-type(3){
    visibility: hidden;
}
.pdfpreview div div div div div button{
    visibility: hidden;
    background-color: #197eff !important;
}

/* THESE ARE THE FIELD SELECTORS */

/* .pdfpreview div div div div div[title="header"]{
    background-color: blue !important;
}

.pdfpreview div div div div div[title="main"]{
    background-color: red !important;
}

.pdfpreview div div div div div[title="footer"]{
    background-color: green !important;
} */