.popup404-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    font-size: 1rem;
    color: #fff;
    background-color: #171721;
    color: #ababba;
    padding: 1.2rem 2rem;
    border-radius: 1.5rem;
    cursor: default;
    z-index: 1;
    transition: all .2s ease-in-out;
}
.popup404-container svg{
    width: 30px;
    transition: all .2s ease-in-out;
}

.popup404-container:hover{
    color: #fff;
    transition: all .2s ease-in-out;
}
.popup404-container:hover svg{
    fill: #fff;
    transition: all .2s ease-in-out;
}
