.homepage {
  min-height: 100vh;
  background-color: #2e2e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.signin-view {
  margin-top: 8vh;
}

.homepage__header {
  text-align: center;
  color: #eee5e5;
  padding-bottom: .5rem;
}

.homepage__header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.signin-view .homepage__header h1 {
  font-size: 3rem; 
}

.homepage__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2.4rem;
  width: 100%;
  max-width: 1430px;
}

@media screen and (max-width: 1920px){
  .homepage__grid{
    width: 70%;
  }
}

.homepage__grid > * {
  aspect-ratio: 15 / 11;
  width: 100%;
  grid-column: span 1 / 3;
}

.homepage__grid.loggedin > * {
  aspect-ratio: 15 / 11;
  grid-column: initial;
  width: 100%;
}

.homepage__card:hover .homepage__card-header svg .fill,
.homepage__card:hover .homepage__card-header svg .stroke,
.homepage__card:hover .homepage__card-header svg .cls-1{
  transition: all 350ms ease;
}

.homepage__card:hover .homepage__card-header svg .fill{
  
  transition: all 350ms ease;
}

.homepage__card:hover .homepage__card-header svg .stroke{

  transition: all 350ms ease;
}


.homepage_sign-in-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  gap: 10px;
}

.homepage_login-text {
  font-size: 11px;
  color: #ababba;
}

.homepage__card{
  transition: all 550ms ease;
}
.homepage__card:hover{
  filter: brightness(100%) saturate(125%);
  transition: all 550ms ease;
}


/* APPLIES GRADIENTS TO SVGS (OTHERWISE ONE GRADIENT OVERRIDES THE OTHER IF THEY ARE NAMED THE SAME CLASS) */
.homepage__card:nth-of-type(1) .homepage__card-header svg .fill{
  fill: url("#gradient1");
}
.homepage__card:nth-of-type(1) .homepage__card-header svg .stroke{
  stroke: url("#gradient1");
}
.homepage__card:nth-of-type(2) .homepage__card-header svg .fill{
  fill: url("#gradient2");
}
.homepage__card:nth-of-type(2) .homepage__card-header svg .stroke{
  stroke: url("#gradient2");
}
.homepage__card:nth-of-type(3) .homepage__card-header svg .fill{
  fill: url("#gradient3");
}
.homepage__card:nth-of-type(3) .homepage__card-header svg .stroke{
  stroke: url("#gradient3");
}
.homepage__card:nth-of-type(4) .homepage__card-header svg .fill{
  fill: url("#gradient4");
}
.homepage__card:nth-of-type(4) .homepage__card-header svg .stroke{
  stroke: url("#gradient4");
}
.homepage__card:nth-of-type(5) .homepage__card-header svg .fill{
  fill: url("#gradient5");
}
.homepage__card:nth-of-type(5) .homepage__card-header svg .stroke{
  stroke: url("#gradient5");
}
.homepage__card:nth-of-type(6) .homepage__card-header svg .fill{
  fill: url("#gradient6");
}
.homepage__card:nth-of-type(6) .homepage__card-header svg .stroke{
  stroke: url("#gradient6");
}
.homepage__card:nth-of-type(7) .homepage__card-header svg .fill{
  fill: url("#gradient7");
}
.homepage__card:nth-of-type(7) .homepage__card-header svg .stroke{
  stroke: url("#gradient7");
}

/* Useless animation */
.homepage__card.animate{
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1.5s ease forwards;
}

.homepage__header.animate{
  opacity: 0;
  transform: translateX(-25px);
  animation: slideIn 1.5s ease forwards;
}

/* Define the animation */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply delay for each card to create the sequence */
.homepage__card:nth-of-type(1) {
  animation-delay: 0.2s;
}

.homepage__card:nth-of-type(2) {
  animation-delay: 0.4s;
}

.homepage__card:nth-of-type(3) {
  animation-delay: 0.6s;
}

.homepage__card:nth-of-type(4) {
  animation-delay: 0.8s;
}

.homepage__card:nth-of-type(5) {
  animation-delay: 1s;
}

.homepage__card:nth-of-type(6) {
  animation-delay: 1.2s;
}

.homepage__card:nth-of-type(7) {
  animation-delay: 1.4s;
}


@media screen and (max-width: 850px) {
  .homepage__header {
    margin-top: 10%;
  }
  .homepage__grid {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2.4rem;
    width: 100%;
    height: 100%;
    max-width: 1430px;
  }
    .homepage__grid > * {
      grid-column: span 9 / -1;
    }
    .homepage_sign-in-section{
      display: none;
      visibility: hidden;
    }
    .homepage__card-header h2{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1599px) {
  .homepage__header h1 {
    font-size: 2rem;
  }

  .homepage__grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .homepage__card {
    width: 90%;
    margin: 0 auto;
  }

  .homepage_sign-in-section {
    padding-top: 10px;
    gap: 8px;
  }
}