.lazy-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.low-quality {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.lazy-image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: backdrop-filter 550ms ease;
}

.lazy-image-wrapper.loaded::after {
    backdrop-filter: blur(0);
}

.high-quality {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 550ms ease-in-out;
    z-index: 0;
}

.high-quality.loaded {
    opacity: 1;
}
