.draggable-input-container {
    position: relative;
    display: flex;
    width: 100%;

    border-radius: .5rem;
    color: #fff;
    
    background-color: #20202a;
    transition: all .15s ease-in;
}
.draggable-input-container.disabled{
    filter: blur(1px);
    opacity: .75;
    transition: all .5s cubic-bezier(0.19,0.22,0.43,0.99);
    pointer-events: none;
}
.draggable-input {
    padding: 8px;
    border: none;
    outline: none;

    background: transparent;
    border-radius: .5rem;
    width: 100%;

    cursor: ew-resize;
    user-select: none;
    caret-color: #ababba;
    caret-shape: 1px;
    transition: all .15s ease-in;
}
    .draggable-input::selection {
        /* background: none; */
        background-color: #e85617;
    }

.draggable-input-container p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;

    color: #ababba;
    font-size: .8rem;
    font-weight: 200;
}