.editlayout__menusection label{
  font-size: .8rem;
  min-width: 40px;
  margin-right: .75rem;
}
.editlayout__menusection{
  display: flex;

  color: #ababba;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.editlayout__menusection--inputwrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;

  width: 100%;
  height: 50px;
  
  padding: 6px 0px
}