.homepage {
  min-height: 100vh;
  background-color: #2e2e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.homepage__header {
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
}

.homepage__header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.homepage__grid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  width: 100%;
  max-width: 1200px;
}




