.homepage {
  min-height: 100vh;
  background-color: #2e2e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.homepage__header {
  text-align: center;
  color: #eee5e5;
  padding-bottom: .5rem;
}

.homepage__header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* .homepage__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
  width: 100%;
  max-width: 1430px;
} */
.homepage__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2.4rem;
  width: 100%;
  max-width: 1430px;
}

@media screen and (max-width: 1920px){
  .homepage__grid{
    width: 70%;
  }
}

.homepage__grid > * {
  aspect-ratio: 15 / 11;
  width: 100%;
}

.homepage__card:hover .homepage__card-header svg .fill,
.homepage__card:hover .homepage__card-header svg .stroke,
.homepage__card:hover .homepage__card-header svg .cls-1{
  transition: all 350ms ease;
}

.homepage__card:hover .homepage__card-header svg .fill{
  fill: #fff;
  transition: all 350ms ease;
}

.homepage__card:hover .homepage__card-header svg .stroke{
  stroke: #fff;
  transition: all 350ms ease;
}
.homepage__card:hover .homepage__card-header svg .cls-1{
  stroke: #fff;
  transition: all 350ms ease;
}
.homepage_sign-in-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  gap: 10px;
}

.homepage_login-text {
  font-size: 11px;
  color: #dbd5d5;
}

