.overview-page{
    min-height: 100vh;
    background-color: #2e2e38;

    display: grid;
    grid-template-columns: .7fr .3fr;
    
}

.overview-page__listmodule{
    position: relative;
    padding: 3% 10% 5% 10%;
    max-height: 90vh;
}
    .overview-page__listmodule-cardcontainer{
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
        .listmodule__item{
            position: relative;
            overflow: hidden;
            border-radius: .5rem;
            opacity: .9;
            transition: all .25s ease-in-out;
        }
            .listmodule__item:hover{
                filter: saturate(110%);
                opacity: 1;
                transition: all .25s ease-in-out;
            }
            .overview-page__item--title{
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translateY(-50%) translateX(-50%);

                font-size: .7rem;
                color: #fff;
                z-index: 1;
            } 
            .overview-page__item--bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .overview-page__item--menu{
                position: absolute;
                bottom: 1%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
            }
                .overview-page__item--menu {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease-in-out;
                }
                
                .listmodule__item:hover .overview-page__item--menu {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.3s ease;
                }

    .overview-page__footer{
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 22%;
        max-width: 200px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        

        color: #dddde6;
    }
        .overview-page__pagination-info{
            background-color: #171722;
            height: 2.5rem;
            width: 6rem;
            cursor: default;

            font-size: .85rem;
            font-family: inherit;
            font-weight: 400;
            border-radius: .5rem;

            display: flex;
            align-items: center;
            justify-content: center;
        }


.overview-page__sidebar{
    padding: 7% 7% 0 0;
    max-height: 90vh;
}
    .overview-page__sidebar-menu{
        background-color: #171721;
        width: 100%;
        height: 100%;

        border-radius: 1rem;
    }
        .overview-page__sidebar-menu-header{
            padding: 5% 7%;

            display: flex;
            align-items: center;
            gap: 1.3rem;

            border-bottom: 1px solid #ababba5b;
        }
            .overview-page__sidebar-menu-header button{
                color: #fffff1;
                font-size: 1.6rem;
                font-weight: 400;
            }
        .overview-page__sidebar-menu-section{
            padding: 3% 7%;
            min-height: fit-content;
            border-bottom: 1px solid #ababba5b;
        }
            .overview-page__sidebar-menu-section h3{
                color: #fffff1;
                font-size: 1.1rem;
                font-weight: 400;
            }



.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em .8em;
    margin: 0.5rem 0.2rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: #171721;
    background-color: #171721e0;
    backdrop-filter: blur(4px);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.remove-btn:hover {
    background-color: #f62b2b;
}
.modify-btn:hover {
    background-color: #4df62bb4;
}

.btn-title {
    margin-right: 0.25rem;
    font-size: .5rem;
    line-height: 1rem;
}

.btn-close-icon {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    fill: currentColor;
    cursor: pointer;
}

.remove-btn .btn-close-icon{
    transition: all .2s;
}
.remove-btn:hover .btn-close-icon {
    transform: rotate(5deg) translateX(1px);
    transition: all .2s;
}
.modify-btn .btn-close-icon{
    transition: all 1s ease-out;
}
.modify-btn:hover .btn-close-icon {
    transform: rotate(180deg);
    transition: all 1s ease-out;
}

/* .overview-page{
    min-height: 100vh;
    padding: 2% 0% 0% 0%;
    background-color: #2e2e38;

    display: grid;
    grid-template-columns: .30fr .70fr;
    grid-template-rows: .10fr .90fr;
}
    .overview-page__header{
        grid-column: span 2;
        background-color: #181823;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .overview-page__search-input{
            width: 100%;
            height: 100%;
            padding-left: 1%;
            border-radius: 3rem;

            background-color: #20202a;
            color: #fff;
        }
        .overview-page__search-input::placeholder {
            color: #565669;
        }
    .overview-page__select{
        background-color: #171721;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .overview-page__section-title{
            color: #fff;
            font-size: 2rem;
        }
    .overview-page__browse{
        position: relative;
    }
        .overview-page__item-container{
            width: 100%;
            height: 100%;
            padding: 2% 15% 6% 15%;
            background-color: #2e2e38;
            border-radius: 1rem;
            border: 1px solid #ffffff1b;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem 1.5rem;
        }
            .overview-page__item{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                cursor: pointer;

                background-color: #22222d;
                color: #fff;
                border-radius: .3rem;
                opacity: .9;
                transition: all .25s ease-in-out;
            }
            .overview-page__item:hover{
                filter: saturate(110%);
                opacity: 1;
                transition: all .25s ease-in-out;
            }
            .overview-page__item--title{
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
                font-size: .6rem;
                z-index: 1;
            }
            .overview-page__item--bg{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        .overview-page__footer{
            position: absolute;
            bottom: 1%;
            left: 50%;
            transform: translateX(-50%);
            width: 22%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            

            color: #fff;
        }
            .overview-page__pagination-info{
                background-color: #171721;
                height: 2.5rem;
                width: 6rem;
                cursor: default;

                font-size: .85rem;
                font-family: inherit;
                font-weight: 400;
                border-radius: .5rem;

                display: flex;
                align-items: center;
                justify-content: center;
            } */




.iconbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    
    color: white;
    border: 1px solid transparent;
    background-color: #171721;
    
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.iconbtn svg {
    /* margin-right: 0.5rem; */
    width: 1.2rem;
    height: 1.2rem;
    /* fill: currentColor; */
    transition: fill .2s ease-in-out;
}
.iconbtn:hover svg{
    /* fill: #000; */
    transition: fill .2s ease-in-out;
}

.iconbtn:hover {
    border-color: #fa633e;
    background-color: #f6522b;
    color: #000;
    transition: all .2s ease-in-out;
}




/* button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
    padding: 0.6em 1.2em;
    margin: 0.5rem .2rem;
    box-sizing: border-box;
    
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 0.5rem;
    
    color: white;
    border: 1px solid transparent;
    background-color: #1a1a1a;
    background-color: #171721;
    
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button svg {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
    transition: fill .2s ease-in-out;
}
button:hover svg{
    fill: #000;
    transition: fill .2s ease-in-out;
}

button:hover {
    border-color: #fa633e;
    background-color: #f6522b;
    color: #000;
    transition: all .2s ease-in-out;
}


@media (min-width: 768px) {
button {
    max-width: 600px;
}
} */



.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 0;
    box-sizing: border-box;
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 0.6em 1.2em 0.6em 2.6em; /* Adjust padding for icon space */
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: #20202a;
    color: white;
    transition: all 0.2s ease-in-out;
}

.input-wrapper input:focus {
    border-color: #20202a;
    background-color: #20202a;
    color: #ffffff;
    outline: none;
}

.input-wrapper svg.input-icon {
    position: absolute;
    left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    stroke: blue;
    transition: fill 0.2s ease-in-out;
    pointer-events: none;
}

.input-wrapper:focus-within .input-icon {
    stroke: blue;
}

@media (min-width: 768px) {
.input-wrapper {
    max-width: 600px;
}
}





.textarea-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}

.textarea-wrapper textarea {
    width: 100%;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: #171721;
    color: white;
    transition: all 0.2s ease-in-out;
    resize: none;
    min-height: 100px;
}

.textarea-wrapper textarea:focus {
    border-color: #fa633e;
    background-color: #f6522b;
    color: #000;
    outline: none;
}

@media (min-width: 768px) {
.textarea-wrapper {
    max-width: 600px;
}
}






.select-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 0;
    box-sizing: border-box;
    position: relative;
}

.select-wrapper select {
    width: 100%;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: #20202a;
    color: white;
    transition: all 0.2s ease-in-out;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
}

.select-wrapper select:focus {
    border-color: #2c2c36;
    background-color: #2c2c36;
    /* color: #000; */
    outline: none;
}

.select-wrapper::after {
    content: '▾'; /* Custom arrow */
    width: 5%;
    position: absolute;
    right: 1rem;
    pointer-events: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

.select-wrapper select:focus + .select-wrapper::after {
    color: #000;
}

@media (min-width: 768px) {
    .select-wrapper {
        max-width: 600px;
    }
}