.overview-page{
    min-height: 100vh;
    background-color: #2e2e38;

    display: grid;
    grid-template-columns: .7fr .3fr;
    
}
.overview-page__listmodule{
    position: relative;
    padding: 3% 10% 5% 10%;
    max-height: 90vh;
}
    .overview-page__listmodule-cardcontainer{
        position: relative;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
    .overview-page__listmodule-cardcontainer .spinner{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
        .listmodule__item{
            position: relative;
            overflow: hidden;
            border-radius: .5rem;
            opacity: .9;
            transition: all .25s ease-in-out;
        }
            .listmodule__item:hover{
                filter: saturate(110%);
                opacity: 1;
                transition: all .25s ease-in-out;
            }
            .overview-page__item--title{
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translateY(-50%) translateX(-50%);

                font-size: .7rem;
                color: #fff;
                z-index: 1;
            }
            .overview-page__item--bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .overview-page__item--menu{
                position: absolute;
                bottom: 1%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
            }
                .overview-page__item--menu {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease-in-out;
                }
                
                .listmodule__item:hover .overview-page__item--menu {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.3s ease;
                }
    .overview-page__footer{
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 22%;
        max-width: 200px;
    }


.overview-page__sidebar{
    padding: 7% 7% 0 0;
    max-height: 90vh;
}
    .overview-page__sidebar-menu{
        background-color: #171721;
        width: 100%;
        height: 100%;

        border-radius: 1rem;
    }
        .overview-page__sidebar-menu-header{
            padding: 5% 7%;

            display: flex;
            align-items: center;
            gap: 1.3rem;

            border-bottom: 1px solid #ababba5b;
        }
            .overview-page__sidebar-menu-header button{
                color: #fffff1;
                font-size: 1.6rem;
                font-weight: 400;
            }
        .overview-page__sidebar-menu-section{
            padding: 3% 7%;
            min-height: fit-content;
            border-bottom: 1px solid #ababba5b;
        }
            .overview-page__sidebar-menu-section h3{
                color: #fffff1;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: default;
            }