.emailclient{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;

    background-color: #171721;
    width: 75%;
    height: fit-content;
    min-height: 90%;
    z-index: 150;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to left bottom, #364156, #2a3749, #212a3a, #1a2029, #101118);
    cursor: default;
    transition: all .5s ease-in-out;
}
    .emailclient__header{
        width: 90%;
        text-align: center;

        border-bottom: 1px solid #ababba42;
        
    }
        .emailclient h1{
            color: #e2e2e3;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
        }
        .emailclient h2{
            color: #e2e2e3;
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

    .emailclient__list{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        
        background-color: rgba(108, 108, 201, 0.053);
    }
        .emailclient__list-label{
            position: absolute;
            top: -1.5rem;
            left: .5rem;
            color: #ababba;
            font-size: .6rem;
        }
        .emailclient__list--item{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-left: 1.2rem;
            border-bottom: 1px solid #ababba19;
        }
        .emailclient__list--item svg{
            width: 20px;
        }
        .emailclient__list--item h3 {
            font-size: 1rem;
            min-width: 150px;
            color: #fff;
            padding: .5rem .4rem;
        }
        .emailclient__list--item p {
            max-width: 100%;
            width: fit-content;
            margin-top: .2rem;
            font-size: 1rem;
            color: #858698;
        }

        .emailclient__list--input-wrapper{
            position: relative;
            display: flex;
        }
            .emailclient__list--input-wrapper svg{
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);

                display: block;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;
                pointer-events: none;

                transition: all 1s ease-out;
            }
                .emailclient__list--input-wrapper .rotatesvg {
                    opacity: 1;
                    visibility: visible;
                    fill: #5dc53e;
                    transition: all 1.5s ease-out;
                }
                .emailclient__list--input-wrapper:hover .rotatesvg {
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(180deg) translateY(50%);
                    transition: transform 1.5s ease-out, opacity 0.5s ease-in;
                }
                .password-visibility-toggle {
                    position: absolute;
                    right: 1rem;
                    width: 50px;
                    height: 100%;
                    cursor: pointer;
                }
                    .password-visibility-toggle svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width: 20px !important;
                    }
            input.emailclient__list--input {
                width: 100%;
                min-width: 350px;
                margin-top: .2rem;
                font-size: 1rem;
                color: #858698;
                border: none;
                background: transparent;
                padding: 0;
                outline: none;
                font-family: inherit;
                background-color: transparent;
                border-radius: .7rem;
                padding: .5rem .7rem;
                cursor: text;
                transition: all .15s ease-in-out;
            }
            input.emailclient__list--input:hover{
                color: #e5e6ec;
                background-color: #ced1ff24;
                transition: all .15s ease-in-out;
            }
.emailclient__footer{
    display: flex;
    gap: 3rem;
}
    .send-emails-btn{
        margin-top: 1.5rem  !important;
    }
    .send-emails-btn:nth-of-type(2) svg{
        width: 20px;
    }


.emailclient-close-btn{
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 35px;
}
    .emailclient-close-btn:hover{
        cursor: pointer;
    }
    .emailclient-close-btn svg{
        width: 25px;
        aspect-ratio: 1 / 1;
    }
        .emailclient-close-btn svg path{
            fill: #ababba;
            transition: all .1s ease-in-out;
        }
        .emailclient-close-btn:hover svg path{
            fill: #fff;
            transition: all .1s ease-in-out;
        }






.emailclient.fade-in {
    opacity: 1;
    pointer-events: auto;
}
.emailclient.fade-out {
    opacity: 0;
    pointer-events: none;
}
.preventClickBG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all .15s ease-in-out;
}