.popup {
    position: fixed;
    bottom: 4%;
    right: 2%;
    cursor: default;
    padding: 1rem 3rem;

    border-radius: 1rem;
    z-index: 5000;
    opacity: 0;
    transition: all .75s ease;
}
    .popup:hover{
        filter: saturate(150%);
    }
    .popup.success {
        background-image: linear-gradient(to left bottom, #365655, #2a4449, #21323a, #1a2129, #101118);
    }
    .popup.fail {
        background-image: linear-gradient(to left bottom, #583c50, #423244, #2f2736, #1e1d27, #101118);
        z-index: 175;
    }
    .popup.message{
        background-image: linear-gradient(to left bottom, #365655, #2a4449, #21323a, #1a2129, #101118);
    }

.popup-content {
    position: relative;
    display: flex;
    gap: 2rem;
}
.popup.loading .popup-content{
    position: relative;
    min-width: 200px;
    min-height: 30px;
}
    .popup-content svg {
        width: 30px;
    }
    .popup-content h1 {
        font-size: 1.1rem;
        color: #fff;
    }
    .popup-content p {
        max-width: 300px;
        font-size: .75rem;
        color: #858698;
    }

.fade-in {
    opacity: 1;
    pointer-events: auto;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

.spinner-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.spinnerrotate {
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
  }
  
  .spinnerrotate .path {
    stroke-dasharray: 188.4;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash 1.5s ease-in-out infinite, 
      colors 6s ease-in-out infinite;
  }
  
  @keyframes colors {
    0% { stroke: #ff1919; }
    25% { stroke: #f7ff19; }
    50% { stroke: #07ff0a; }
    75% { stroke: #f707ff; }
    100% { stroke: #197eff; }
  }
  
  @keyframes dash {
    0% { stroke-dashoffset: 188.4; }
    50% {
      stroke-dashoffset: 47.1;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 188.4;
      transform: rotate(450deg);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }