.popup_confirmation {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: default;
    padding: 3rem 3rem;
    max-height: fit-content;
    max-width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    z-index: 500;
    opacity: 0;
    transition: all .75s ease;
}
    .popup_confirmation:hover{
        filter: saturate(145%);
        cursor: default;
    }
    .popup_confirmation.success {
        background-image: linear-gradient(to left bottom, #365655, #2a4449, #21323a, #1a2129, #101118);
    }
    .popup_confirmation.fail {
        background-image: linear-gradient(to left bottom, #583c50, #423244, #2f2736, #1e1d27, #101118);
    }
    .popup_confirmation.question {
        background-image: linear-gradient(to left bottom, #583c50, #423244, #2f2736, #1e1d27, #101118);
    }
    .popup_confirmation.question2 {
        background-image: linear-gradient(to left bottom, #212b60, #1d2244, #1a1a30, #181625, #1a1c2b);
    }
    .popup_confirmation.warning {
        background-image: linear-gradient(to left bottom, #583c50, #423244, #2f2736, #1e1d27, #101118);
    }

.popup_confirmation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
    .popup_confirmation-content svg {
        width: 75px;
    }
    .popup_confirmation.question2 .popup_confirmation-content .fill{
        fill: #b34e4e;
    }
    .popup_confirmation-content h1 {
        font-size: 1.3rem;
        color: #fff;
    }
    .popup_confirmation-content p {
        max-width: 100%;
        margin-top: .2rem;
        font-size: 1rem;
        color: #858698;
    }
    .popup_confirmation-content-btn-container{
        margin-top: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
        .popup_confirmation-content-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            padding: .5rem 3rem;

            color: #d7d7d7;
            background-color: #1f314360;
            border-radius: .5rem;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn svg path{
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn svg{
            width: 25px;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn:hover{
            cursor: pointer;
            color: #fff;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn:hover svg path{
            fill: #000;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn:hover{
            color: #000;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn:nth-of-type(1):hover{
            background-color: #07ff0a;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-content-btn:nth-of-type(2):hover{
            background-color: #ff5563;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation.warning .popup_confirmation-content-btn:nth-of-type(1):hover{
            background-color: #ff5563;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation.warning .popup_confirmation-content-btn:nth-of-type(2):hover{
            background-color: #07ff0a;
            transition: all .15s ease-in-out;
        }
        .popup_confirmation-close-btn{
            position: absolute;
            right: 0;
            top: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 35px;
        }
        .popup_confirmation-close-btn:hover{
            cursor: pointer;
        }
        .popup_confirmation-close-btn svg{
            width: 25px;
            aspect-ratio: 1 / 1;
        }
            .popup_confirmation-close-btn svg path{
                fill: #ababba;
                transition: all .1s ease-in-out;
            }
            .popup_confirmation-close-btn:hover svg path{
                fill: #fff;
                transition: all .1s ease-in-out;
            }

.popup_confirmation.fade-in {
    opacity: 1;
    pointer-events: auto;
}

.popup_confirmation.fade-out {
    opacity: 0;
    pointer-events: none;
}



.popup_confirmation-content-input{
    padding: .2rem 1rem;
    border-radius: .5rem;
    background-color: #e9e9f9e9;
    font-weight: 600;
    /* min-width: 400px; */
    transition: all .1s ease-in-out;
}
.popup_confirmation-content-input:focus {
    outline: 2px solid #0084ff3b;
    background-color: #e9e9f9;
    transition: all .1s ease-in-out;
}
.popup_confirmation-content-btn-container.confirmation{
    gap: 1rem;
}


.preventClickBG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all .15s ease-in-out;
}