.overview-page {
    min-height: 100vh;
    background-color: #2e2e38;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}

.overview-page__list-module {
    position: relative;
    padding: 3% 10% 5% 10%;
    max-height: 90vh;
}

    .overview-page__list-module-card-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 0.9fr;
        gap: 1rem;
    }

    @media screen and (max-width: 1000px) {
        .overview-page__list-module-card-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
        }
    }

    .spinner {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .list-module__item {
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        opacity: 0.9;
        aspect-ratio: 310 / 445;
        background-color: #171721;
        transition: all 0.25s ease-in-out;
    }

        .list-module__item:hover {
            filter: saturate(110%);
            opacity: 1;
            transition: all 0.25s ease-in-out;
        }

        .list-module__item-title {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translateY(-50%) translateX(-50%);
            font-size: 1rem;
            color: #fff;
            z-index: 1;
        }

        @media screen and (max-width: 1920px) {
            .list-module__item-title {
                font-size: 0.5rem;
            }
        }

        .list-module__item-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .list-module__item-menu {
            position: absolute;
            bottom: 1%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            z-index: 100;
        }

            .list-module__item-menu {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out;
            }

            .list-module__item:hover .list-module__item-menu {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.3s ease;
            }

            .email-btn {
                position: absolute;
                top: 0;
                right: 3%;
            }

            .list-module__item-menu--verifiedcontainer{
                position: absolute;
                top: 1%;
                left: 1%;
                width: 40px;
                height: 40px;
                
                cursor: pointer;
                transition: all 200ms ease-in-out;
            }
                .list-module__item-menu--verifiedcontainer:hover svg{
                    scale: 1.1;
                    filter: saturate(110%);

                    transition: all 200ms ease-in-out;
                }
                .list-module__item-menu--verifiedcontainer svg{
                    transition: all 200ms ease-in-out;
                }
                .list-module__item-menu--verifiedcontainer svg path{
                    stroke: #65f25d;
                    transition: all 200ms ease-in-out;
                }
                .list-module__item-menu--verifiedcontainer::after {
                    content: attr(data-student-lastgenerated);
                    position: absolute;
                    width: 400%;
                    height: 125%;
                    top: 20%;
                    left: 100%;
                    /* background-color: #89ff57; */
                    background-color: #103009;
                    color: #000;
                    color: #32f219;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                }
                
                .list-module__item-menu--verifiedcontainer:hover::after {
                    opacity: 1;
                    visibility: visible;
                }

.overview-page__footer {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 22%;
    max-width: 200px;
}

.overview-page__sidebar {
    padding: 7% 7% 0 0;
    max-height: 90vh;
}

    .overview-page__sidebar-menu {
        background-color: #171721;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

        .sidebar-menu__header {
            padding: 5% 7%;
            display: flex;
            align-items: center;
            gap: 1.3rem;
            border-bottom: 1px solid #ababba5b;
        }

            .sidebar-menu__header button {
                color: #fffff1;
                font-size: 1.6rem;
                font-weight: 400;
            }

        .sidebar-menu__section {
            padding: 3% 7%;
            min-height: fit-content;
            border-bottom: 1px solid #ababba5b;
        }

            .sidebar-menu__section h3 {
                color: #fffff1;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: default;
            }



.hidden {
    display: none;
}

.visible {
    display: block;
}